<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://gitcdn.link/repo/Chalarangelo/mini.css/master/dist/mini-default.css" />
  <title>VueJS</title>
  <style type="text/css">
  </style>
  <script src="https://unpkg.com/vue@2.2.6/dist/vue.js"></script>
</head>

<body>
    <div id="app">
		<ul>
			<li v-for='name in listOfNames'>
				{{name}}
			</li>
		</ul>
    </div>

<script>
new Vue({
	el:"#app",
	data: {
		listOfNames: ['sebastian', 'stefan', 'markus', 'birthdaybot']
	}
});
</script>
</body>
</html>
